
/*
1. **Azul Claro**: #A8D8E0  
   - **Uso**: Fundo principal das seções do site, como cabeçalhos ou áreas de destaque. Transmite confiança e calma.
*/
$azul-claro: #A8D8E0;

//2. **Verde Mint**: #B2E4D7  - **Uso**: Botões de chamada para ação (CTAs), como "Comprar Agora" ou "Saiba Mais". É uma cor que remete à saúde e frescor.
$verde-mint: #B2E4D7;

//3. **Branco**: ##f1f1f1- **Uso**: Fundo geral do site e para textos. O branco ajuda a manter a clareza e a legibilidade.
$branco: #e7e7e7;

//4. **Cinza Claro**: #F5F5F5  - **Uso**: Fundos de cartões de produtos ou seções secundárias. Ajuda a destacar os elementos principais sem ser muito agressivo.
$cinza-claro-ciano: #405e58;

//5. **Azul Escuro**: #005B73  - **Uso**: Textos principais, cabeçalhos ou rodapés. Essa cor proporciona um bom contraste com o fundo claro e é adequada para transmitir seriedade.
$azul-escuro: #005B73;

//6. **Verde Escuro**: #007A5E   - **Uso**: Ícones, links e elementos interativos menores. Essa cor pode ser usada para destacar elementos importantes sem perder a harmonia da paleta.
$verde-escuro: #186150;







